.row{
    margin: 0 auto;
    width: 1300px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topbar{
    background-color: #cccccc;
    width: 1300px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.menu{
    padding: 15px;
    border: 3px solid black;
    width: 50%;
}

.instructions{
    margin-top: 20px;
}

.btn-outline-primary{
    margin: 2px;
}

.btn-outline-primary:focus{
    outline: none !important;
    box-shadow: none;
}

.btn-outline-primary:hover{
    background-color: #4ba2ff;
}